body{
		background-color:green;
		text-align:center;
		margin-bottom:5px;
	}
	#h1-1{
		text-align:center;font-style: italic;
	}
	#h2-1{
		text-align:center
	}
	#h3-1{
		text-align:center;
	}
	#h4-1{
		text-align:center
	}
	#tabla1{
		margin: 0 auto;
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
		width: 80%;
	}
	#tr1
	#td1{
		background-color:white;
		width:20px;
	}
	#h1-2{
		font-size:2em;
	}
	#td2 {
		background-color:white;
		text-align:left;
	}
	#h1-3 {
		font-size:2em;
	}
	#tr2
	#td3 {
		background-color:white;
		width:20px;
	}
	#h1-4 {
		text-align:center;
		color:red;
		text-decoration:underline;
	}
	#td4 {
		width:2000px; 
		background-color:white; 
		text-align:left;
	}
	#h2-2
	#td5
	#f1 {
		height: 200px;
		width: 500px;
		box-sizing:border-box;
	}
	#tr3 
	#td6 {
		background-color:white;
		width:20px;
	}
	#h1-5 {
		text-align:center;
		color:red;
		text-decoration:underline;
	}
	#td7 {
		background-color:white; 
		text-align:left;
	}
	#h2-3
	#td8
	#f2 {
		height:163px;
		width:500px;
	}
	#tr4
	#td9 {
		background-color:white;
		width:20px;
	}
	#h1-6 {
		text-align:center;
		color:red;
		text-decoration:underline;
	}
	#td10 {
		background-color:white;
		width:310px;
		text-align:left;
	}
	#h2-4
	#td11 
	#f3 {
		height:280px;
		width:500px;
	}
	#tr5
	#td12 {
		background-color:white;
	}
	#h1-7 {
		text-align:center;
		color:red;
		text-decoration:underline;
	}
	#td12 {
		background-color:white;
		width:50px;
		text-align:left;
	}
	#h2-5
	#td13
	#f4 {
		height:130px;
		width:500px;
	}
	#div1 {
		text-align:center;
	}
	#tabla2 {
		display:inline-block;
		background-color:white;
		border:0px;
		width:176px;
		text-align:center;
		padding-left:8px;
	}
	#tr6{}
	#td14 {
		font-weight: bold;
	}
	#td15 {
		text-align:left;
		padding-left:10px;
	}
	#tr7{}
	#td16{
		text-align:left;
		padding-left:10px;
	}
	#tr8{}
	#td17{
		font-weight: bold;
	}
	#td18{
		text-align:left;
		padding-left:10px;
	}
	#tr9{}
	#td19 {
		font-weight: bold;
	}
	#td20 {
		text-align:left;
		padding-left:10px;
	}
	#tabla3 {
		display:inline-block;
		margin-top:12px;
		text-align:center;
		border-collapse: separate;
		box-sizing: border-box;
		background-color:white;
	}
	#tr10{}
	#td21{
		background-color:white;
	}
	#h1p{}
	#ol1{}
	.br {
		text-align:left;
	}
	#div2 {
		text-align:center;
	}
	#tabla4 {
		padding:0px;
		width:359.2px;
		height:161px;
		display:inline-block;
		background-color:white;
		border-collapse: separate;
		box-sizing: border-box;
	}
	#tr11{}
	#td22{}
	#h1f {
		text-align:left;
	}
	#form 1{}
	#input1{}
	#divf{
		height:1em;
	}
	#boton{}